* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
:root {
    --color: #d1d1d1;
    --font-family: Ariel-bold; 
}
body {
    font-size: 18px;
    height: 100vh;
    width: 100vw;
    /* color: white; */
}

.layout {
    /* height: 100%; */
    display: grid;
    text-align: center;
    grid-template-columns: 0.6fr 4fr;
    grid-template-rows: 150px 4fr;
    height: 100vh;
    
}
h2,h3 {
    font-family: Arial;
    font-weight: 900;
}
/* HEADER CSS STARTS */
header {
    padding: 15px 30px;
    background-color: var(--color); /*#932ec2db;*/
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    border: 4px solid black;
    border-left: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    
}

.top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    /* gap: 20px; */
} 
.searchcontainer {
    display: grid;
    grid-template-columns: /*1fr 100% */ 40px minmax(100%, 400px);
    gap: 8px;
    text-align: center;
    align-items: center;
}
.search-bar {
    outline: none;
    border: none;
    /* border-radius: 20px; */
    padding: 6px;
    font-weight: 900;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.profile {
    display: grid;
    grid-template-columns: max-content 40px max-content;
    gap: 15px;
    justify-content: end;
    align-items: center;
}

.profile-icon > img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}
.bottom {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
   
}
.greeting {
    display: flex;
    align-items: center;
    font-family: Arial;

    
}
.bottom-icon {
    width: 75px;
    max-height: 75px;

    margin-left: 0;
    margin-right: 10px;
    flex-shrink: 0;
}
.bottom p {
    text-align: left;
}
p + .greeting {
    font-weight: bold;
}
.button-group {
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    grid-gap: 1rem;
}
button {
   
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
    border: 4px solid black;
    font-weight: bold;
    font-family: Arial;
    color: #000000;
    background-color: #ffffff;
    cursor: pointer;
    transition: transform 1s ease-in;
}
/* HEADER CSS ENDS */
/* SIDEBAR CSS BEGINS */
.sidebar {
    display: grid;
    background-color: white/*#8c6dc9*/;
    border: 4px solid black;
    
    grid-row: 1 / 4;
    grid-template-rows: 2rem 4fr;
    text-align: left;
    padding-left: 20px;
}
.dashboard {
    padding-bottom: 20px;
    font-size: 2rem;
}
ul {
    padding-top: 20px;
    list-style-type: none;
    line-height: 250%;
    font-size: 1.3rem;
    

}
ul i {
    padding-right: 20px;
}
li {
    gap: 10px;
    cursor: pointer;
}
.support {
    padding-top: 30px;
}
/* SIDEBAR CSS ENDS */
/* MAIN CSS STARTS */

main {
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2,1fr);
    padding: 18px;
    grid-gap: 20px;
    background-color: var(--color) /*#dfbacf*/;
}

.container-side {
    gap:10px;
}
h3 {
    text-align: left;
}
.card {
    display: grid;
    /* grid-template-columns: repeat(auto-fit,26rem); */
    grid-template-columns: repeat(auto-fit, minmax(350px, max-content));
    grid-auto-rows: 200px;
    gap: 0.5rem;
    
}
.cards {
    height: 100%;
    width: 350px;
    background-color: #ffffff;
   
    padding: 20px;
    border: 4px #000000 solid;
    box-shadow: 5px 5px 1rem rgba(30, 58, 138, 0.2)
}

.icons {
   display: flex;
   justify-content: end;
   gap:20px;
}
.announcements {
    display: grid;
    grid-gap: 1rem;
    background-color: #ffffff;
    border: 4px #000000 solid;
    /* border-radius: 1rem; */
    box-shadow: 5px 5px 1rem rgba(30, 58, 138, 0.2);
    padding: 1rem;
    margin-bottom: 2rem;
}
hr {
    border: 2px #000000 solid;

}
.trending {

    display: grid;
    grid-gap: 1rem;
    background-color: #ffffff;
    border: 4px #000000 solid;
    box-shadow: 5px 5px 1rem rgba(30, 58, 138, 0.2);
    /* border-radius: 0.5rem; */
    padding: 1rem;
}
.trending-profile {
    display: grid;
    grid-template-columns: 50px 0.5fr;
    grid-gap: 0.5rem;
    align-items: center;
    
}
/* MAIN CSS ENDS */